#title{
	background-color: #20B2AA;

}
#movie-poster{
  border: 5px double black;
  border-radius: 12px;
  text-align: center;
}
body{
	background-color: #c8f6e2;
}
#details-title{
font-weight: 900;
}
#movie-title-later{
  font-weight: 600;
  color: white;
  background-color: #20B2AA;
  border-radius: 12px;
  height: auto;
  text-align: center;
}
