{% extends "lab_10/layout/base.html" %}

{% block content %}
<a href="/lab-10/movie/list/" class="btn btn-primary" style="margin-left: 2%;"> Back to List </a>

<div class="row">
  <h1 style="text-align: center;" > WATCH LATER </h1>
    {% for movie in watch_later_movies %}
    <div class="row" style="margin-top: 2%;">
      <div class="col-lg-8" style="height: 276.8px; padding: 90px 0 90px 0;">
        <h1 id="movie-title-later">{{movie.title}} ({{movie.year}})</h1>
      </div>
      <div class="col-lg-4" style="text-align: center;">
        <img src="{{movie.poster}}" id="movie-poster-later"></img>
      </div>
      
    </div>
    {% endfor %}
</div>
{% endblock %}
