body {
	margin:0;
  /*min-height: 2000px;*/
}

.navbar-static-top {
  margin-bottom: 19px;
}

.container{
	text-align: center;
}
/*Textarea not resizeable*/
ul {
	list-style: none;
	padding:0;
}

textarea {
    resize:none
}
