body{
    margin-top: 70px;
    background-color: #F4C2C2;
}
 /* Custom navbar style */
.navbar-static-top {
    margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}
 /* Textarea not resizeable */
textarea {
    resize:none
}

#lab8 {
    background-color: #F4C2C2;
}

#container{
    position:relative;
}

#footer{
    height:50px;
    line-height:50px;
    background:#fff;
    color:#0a9;
}

.feed{
    background-color: white;
}

