{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
<hr/>
<section name="profil" align= center>
    <p>
            <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/15534940_245808405850666_3363919124685127680_n.jpg?ig_cache_key=MTM2MDA0MTQ2NTUwOTg3Nzg1MQ%3D%3D.2" alt="Icon Saya" width="150" height="150" style = "border-radius: 50%">
        <h3>{{author}}</h3>
    </p>
</section>

<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>


<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}

