<!-- templates/lab_6/partials/header.html -->
<div class="container" id="header">
  {% if 'user_login' in request.session %}
    {% if 'user_login' in request.COOKIES %}
    <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')" id="logout-button">
        Logout Session
    </a>
    <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')" id="logout-button">
        Logout Cookies
    </a>
    {% else %}
      <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')" id="logout-button">
          Logout Session
      </a>
      {% endif %}
  {% endif %}
  <div class="typewriter">
    <h1 id="header-text">Lab 9</h1>
  </div>
</div>

<style>
  #header{
    background-image: url(https://i.ytimg.com/vi/fw-aXF-L8-k/maxresdefault.jpg);
    
  }

  #logout-button{
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 20px;
  }
  #header-text{
    color : white;
  }

  
</style>
